<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  select {
    color: black;
    text-align: center;

  }
</style>
<body>
  <form action="/team_details" method="post" name="Dropdown">
    <label for="team"><h2>Choose a Team:</h2></label>
    <select name="department" id="department">
        <option value="Marketing" aria-setsize="10">Marketing</option>
        <option value="HR">HR</option>
        <option value="Technical">Technical</option>
        <option value="Accounts">Accounts</option>
        <option value="Sales">Sales</option>
    </select>
    <input type="submit" value="submit">
  </form>
</body>
</html>